* {
  margin: 0px;
  padding: 0px;
  box-sizing: "border-box";
  border: 0;
  text-decoration: none;
}

body {
  background: #1D1E22;
  font-family: "Raleway", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.center button {
  padding: 20px 70px;
  background: midnightblue;
  border: none;
  border-radius: 50px;
  color: #f5f5f5;
  cursor: pointer;
  box-shadow: 3px 2px 8px 8px rgba(0, 0, 0, 0.15);
  letter-spacing: 3px;
  display: ;
}

.center button:hover {
  background-color: white;
  color: blue;
  font-weight: 500;
  border: 2px solid blue;
}

.popup-box {
  width: 70%;
  top: 20%;
  left: 15%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
}

form .form-element-title {
  display: flex;
  flex-direction: column;
}

form .form-element-title input[id="title"] {
  margin-top: 15px;
  padding: 10px 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form .form-element-commun {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.form-element-one,
.form-element-two,
.form-element-three {
  max-width: 30%;
  flex-direction: column;
  display: flex;
}

.form-element-commun input {
  margin-top: 10px;
  padding: 10px 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form .form-element-checkbox {
  margin-top: 20px;
}

form .form-element-checkbox input[id="featured"] {
  margin-left: 5px;
  cursor: pointer;
}

form .form-element-checkbox p {
  color: gray;
  font-size: 17px;
  margin: 10px 0px 25px 0px;
}

form .form-element-description {
  display: flex;
  flex-direction: column;
}

form .form-element-description textarea {
  margin-top: 15px;
  padding: 10px 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}

.form-element-bouton {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0px auto;
}

.form-element-bouton button {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.form-element-bouton > #addprod {
  margin-top: 25px;
  background-color: blue;
  color: #fff;
  border: 2px solid blue;
}

.form-element-bouton > #addprod:hover {
  background-color: white;
  color: blue;
  font-weight: 500;
  border: 2px solid blue;
}

.form-element-bouton > #annuler {
  margin-top: 10px;
  border: 2px solid blue;
  color: blue;
}

.form-element-bouton > #annuler:hover {
  color: red;
  font-weight: 500;
  border: 2px solid red;
}

.pop-up {
  position: absolute;
  top: 20%;
  left: 20%;
}

.hidden {
  display: none;
}

.popping-up {
  animation-duration: 3s;
  animation-name: popping-up;
}

.popping-down {
  animation-duration: 3s;
  animation-name: popping-up;
  animation-direction: reverse;
}

@keyframes popping-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.overlay {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.overlay .imagePopupSucces {
  position: fixed;
  width: 800px;
  height: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.container-modal-bounce {
  position: fixed;
  width: 800px;
  height: 600px;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);
}

.modal-box {
  width: 350px;
  height: 300px;
  background-color: WhiteSmoke;
  border-radius: 8px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  gap: ;
  position: absolute;
}

.modal-box h1 {
  margin-top: 50px;
  font-size: 60px;
  font-weight: 400;
}

.modal-box h3 {
  margin-top: 30px;
  font-size: 23px;
  font-weight: 400;
}

.modal-box a {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #3a9d23;
  padding: 15px 10px;
  border: 2px solid #3a9d23;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.modal-box a:hover {
  background-color: white;
  color: #3a9d23;
  border: 2px solid #3a9d23;
}

.modal-box .cell {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 0%;
  top: -15%;
}

.modal-box .cell .circle {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: whiteSmoke;
  box-shadow: 4px -40px 60px 5px rgb(58, 157, 35) inset;
}

.success-icon__tip,
.success-icon__long {
  display: block;
  position: absolute;
  height: 8px;
  background-color: #fff;
  border-radius: 4px;
}

.success-icon__tip {
  transform: rotate(45deg);
  animation: tipInPlace 300ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 180ms;
  visibility: hidden;
}

.success-icon__long {
  transform: rotate(-45deg);
  animation: longInPlace 140ms ease-in-out;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-delay: 440ms;
}

@keyframes tipInPlace {
  from {
    width: 0em;
    top: 0em;
    left: -1.6em;
  }
  to {
    width: 1.9em;
    top: 3.5em;
    left: 0.9em;
    visibility: visible;
  }
}

@keyframes longInPlace {
  from {
    width: 0em;
    top: 5.1em;
    left: 3.2em;
  }
  to {
    width: 3.6em;
    top: 2.9em;
    left: 1.8em;
    visibility: visible;
  }
}

.pulse {
  animation: pulse 0.7s ease-in-out both;
}

@keyframes pulse {
  from {
    transform: scale(15);
  }
  to {
    transform: scale(1);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.a {
  animation-delay: 1s;
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.b {
  animation-delay: 1s;
}
